<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style/main.css">
</head>

<body>
<div id="tickets-panel"></div>
<div id="control-panel">
    <button class="control" id="refresh-control">Refresh</button>
    <div class="modes">
        <div class="label" id="modes-title">modes:</div>
        <button class="control mode-switcher" id="mode-30">30</button>
        <button class="control mode-switcher" id="mode-50">50</button>
        <button class="control mode-switcher" id="mode-75">75</button>
        <button class="control mode-switcher" id="mode-90">90</button>
    </div>
</div>
</body>

<script src="src/base/constant/ViewState.js"></script>
<script src="src/base/control/Control.js"></script>
<script src="src/ticket/Ticket.js"></script>
<script src="src/ticket/Ticket30.js"></script>
<script src="src/ticket/Ticket50.js"></script>
<script src="src/ticket/Ticket75.js"></script>
<script src="src/ticket/Ticket90.js"></script>
<script src="src/ticket/Ticket90Slip.js"></script>
<script src="src/collection/TicketsCollection.js"></script>
<script src="src/collection/TicketsCollection30.js"></script>
<script src="src/collection/TicketsCollection50.js"></script>
<script src="src/collection/TicketsCollection75.js"></script>
<script src="src/collection/TicketsCollection90.js"></script>
<script src="src/panel/TicketsPanel.js"></script>
<script src="src/main.js"></script>
</html>