html {
    background-image:
            linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url(http://static.vecteezy.com/system/resources/previews/000/097/033/non_2x/free-bingo-card-vector-icon.jpg);
}

body {
    margin: 70px 30px;
}

#tickets-panel {
    width: 540px;
    height: 300px;
    padding: 20px;
    margin: auto;
    border: 4px solid #000;
    border-radius: 12px;
    background-color: #F5EDDD;
    box-shadow: 0 2px 2px;
    overflow: hidden;
}

#tickets-panel .ticket {
    position: relative;
    width: 120px;
    height: 50px;
    margin: 5px;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-image: url("http://www.bingobuzz.com.au/images/bingo-ticket.gif");
    display: inline-block;
    cursor: pointer;
    border: 4px solid rgba(185, 70, 25, 1);
    border-radius: 6px;
    box-shadow: 0 6px 4px -4px #000;
    overflow: hidden;
    transfrom: translate(0, 0);
    /*noinspection CssInvalidPropertyValue*/
    transition: box-shadow 0.25s transform 0.25s;
}

#tickets-panel .ticket.ticket75 .label {
    top: 6px;
    left: 12px;
}

#tickets-panel .ticket:hover {
    transform: translate(0, -2px);
    box-shadow: 0 14px 8px -8px #000;
}

#tickets-panel .ticket .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(185, 110, 25, 0.8);
    opacity: 0.8;
    content: ""
}

#tickets-panel .ticket.selected {
    border: 4px solid rgba(255, 80, 15, 1);
}

#tickets-panel .ticket.selected .bg {
    background-color: rgba(156, 60, 10, 0.8);
}

#tickets-panel .ticket .label {
    font-size: 16px;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
    position: relative;
    top: -5px;
    left: 2px;
    color: #dd2;
    text-shadow: 2px 1px 2px #444, 2px 1px 2px #444;
}

#tickets-panel .ticket.selected .label {
    color: #b42;
}

#control-panel {
    width: 540px;
    padding: 20px;
    margin: 4px auto;
    border: 4px solid #000;
    border-radius: 12px;
    background-color: #F5EDDD;
    box-shadow: 0 2px 2px;
}

#control-panel .control {
    width: 120px;
    height: 75px;
    padding: 0;
    border: 0;
    border-radius: 22px;
    box-shadow: 0 2px 4px #000;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 2px 2px #777;
    display: inline-block;
    cursor: pointer;
    outline: none;
    background: #8b9bad;
    color: #fff;
    margin: 10px 0 5px 10px;
}

#control-panel .control:hover {
    background: #718193;
    transform: translate(0, -1px);
}

#control-panel .auto-controls {
    float: right;
}

#control-panel #value-select {
    width: 60px;
    font-size: 24px;
    border-radius: 8px;
    margin: 10px 15px 10px 10px;
    padding: 10px;
    box-shadow: 0 2px 4px;
    border: solid 1px;
    cursor: pointer;
    outline: none;
}

.hidden {
    display: none !important;
}